Import Library

In [ ]:
import pandas as pd

Load Dataset from Local Directory

In [ ]:
from google.colab import files
upload = files.upload()

Saving LandPrediction.csv to LandPrediction (1).csv

Load Dataset

In [ ]:
df = pd.read_csv("LandPrediction.csv")

Summarize Dataset

In [ ]:
df.shape

(9, 2)

In [ ]:
df.head()

   land   price
0  1000  2245.0
1  2000  4575.0
2  3000  6874.0
3  4000  8878.0
4  5000     NaN

In [ ]:
df.describe()

               land         price
count      9.000000  8.000000e+00
mean    5111.111111  2.681874e+05
std     2934.469477  7.316554e+05
min     1000.000000  2.245000e+03
25%     3000.000000  6.299250e+03
50%     5000.000000  1.066750e+04
75%     7000.000000  1.528500e+04
max    10000.000000  2.078900e+06

Checking for NAN values

In [ ]:
df.isna().any()

land     False
price     True
dtype: bool

Filling NAN values with the Mean
<br>
Problem : New value becomes high coz of outlier(large vakue scale)

In [ ]:
MeanNotNan = df.price.fillna(df.price.mean())
MeanNotNan

0       2245.000
1       4575.000
2       6874.000
3       8878.000
4     268187.375
5      12457.000
6      14785.000
7      16785.000
8    2078900.000
Name: price, dtype: float64

Solution Filling NAN value with Median

In [ ]:
MedianNotNan = df.price.fillna(df.price.median())
MedianNotNan

0       2245.0
1       4575.0
2       6874.0
3       8878.0
4      10667.5
5      12457.0
6      14785.0
7      16785.0
8    2078900.0
Name: price, dtype: float64

Identifying and removing the outlier-Huge difference in value

In [ ]:
df.describe()

               land         price
count      9.000000  8.000000e+00
mean    5111.111111  2.681874e+05
std     2934.469477  7.316554e+05
min     1000.000000  2.245000e+03
25%     3000.000000  6.299250e+03
50%     5000.000000  1.066750e+04
75%     7000.000000  1.528500e+04
max    10000.000000  2.078900e+06

In [ ]:
percentile = df.price.quantile(1.0)
percentile

2078900.0

In [ ]:
dfNoOutlier = df[df.price<percentile]
dfNoOutlier

   land    price
0  1000   2245.0
1  2000   4575.0
2  3000   6874.0
3  4000   8878.0
5  6000  12457.0
6  7000  14785.0
7  8000  16785.0